In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 963 kB/s eta 0:00:01    |████▋                           | 40.5 MB 3.3 MB/s eta 0:01:14     |███████████████████████         | 201.8 MB 1.9 MB/s eta 0:00:43     |██████████████████████████████▍ | 266.8 MB 2.0 MB/s eta 0:00:08
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 2.4 MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764020 sha256=619012e37463dc37d51db791be14bb2ac4d440f94ee4b2c9ae084e1afbfd4ff8
  Stored in directory: /home/srvwdmpcubt11/.cache/pip/wheels/1d/27/68/1382001655ef41217e1dd34d59aa777612135379bab64279e9
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
import pyspark

In [5]:
import pandas as pd

In [15]:
df = pd.read_csv('test.csv')

In [16]:
df

,txnid,productinfo,firstname,phone,email,amount
0,5Bm45J7x,Prajnan Subscription,Prema Jedy,9.740355e+09,prema.jedy@gmail.com,300.0
1,g43D02jB,Vinimaya Subscription,Harpreet Kohli,9.872156e+09,harpreet_kohli2007@yahoo.co.in,550.0
2,Y2hH33q0,Prajnan Subscription,SUPRIYA KUMAR MAJUMDAR,6.207337e+09,skm9470@gmail.com,550.0
3,k49tE75T,Vinimaya Subscription,RAJU SARKAR,8.250796e+09,rajulalgola2016@gmail.com,225.0
4,VX8ck826,Prajnan Subscription,THE LIBRARIAN IIBF,7.488153e+09,je.trg1@iibf.org.in,300.0
5,j67R80gc,NaN,NaN,NaN,NaN,NaN
6,X70M58Yn,Vinimaya Subscription,Uday K,7.276150e+09,admin@admin.com,100.0
7,6vJ96n3c,Vinimaya Subscription,Uday K,7.276150e+09,admin@admin.com,225.0
8,9cH01aK8,Prajnan Subscription,Uday K,7.276150e+09,admin@admin.com,300.0
9,3eSiG474,Vinimaya Subscription,Rajiv Kumar Bansal,9.650254e+09,kumarbansal69@gmail.com,100.0

In [8]:
from pyspark.sql import SparkSession

In [10]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [11]:
spark

In [17]:
df_pyspark =spark.read.csv('test.csv')

In [18]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string]

In [14]:
df_pyspark.show()

22/08/02 12:23:40 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
+---+--------+--------------------+--------------------+----------+--------------------+------+--------------------+--------------------+--------------------+--------------------+-------------+--------------+---------------+--------------------+--------------------+--------+-----------+-----+-------+-------+----+----+----+----+----+-----+----+----+----+
|_c0|     _c1|                 _c2|                 _c3|       _c4|                 _c5|   _c6|                 _c7|                 _c8|                 _c9|                _c10|         _c11|          _c12|           _c13|                _c14|                _c15|    _c16|       _c17| _c18|   _c19|   _c20|_c21|_c22|_c23|_c24|_c25| _c26|_c27|_c28|_c29|
+---+--------+--------------------+--------------------+----------+--------------------+------+--------------------+--------------------+--------------------+--------------------+-------------+--------------+---------------+--------------------+--------------------+--------+-----------+-----+-------+-------+----+----+----+----+----+-----+----+----+----+
| ID|   txnid|         productinfo|           firstname|     phone|               email|amount|    net amount debit|          paymentFor|    subscriptionType|         designation| organization|payment status|transactionDate|     transactionTime|            address1|address2|       city|state|country|zipcode|udf5|udf6|udf7|udf8|udf9|udf10|surl|furl|hash|
| 21|5Bm45J7x|Prajnan Subscription|          Prema Jedy|9740355404|prema.jedy@gmail.com|   300|      Asst.professor|Government First ...|Prajnan subscript...|Individual Subscr...|      success|    2022-05-16|       09:04:09|                null|                null|    null|       null| null|   null|   null|null|null|null|null|null| null|null|null|null|
| 22|g43D02jB|Vinimaya Subscrip...|      Harpreet Kohli|9872156142|harpreet_kohli200...|   550| Assistant professor|Punjabi Universit...|Vinimaya Subscrip...|Individual Subscr...|      success|    2022-05-17|       13:09:10|                null|                null|    null|       null| null|   null|   null|null|null|null|null|null| null|null|null|null|
| 27|Y2hH33q0|Prajnan Subscription|SUPRIYA KUMAR MAJ...|6207336743|   skm9470@gmail.com|   550|Prajnan subscript...|Individual Subscr...|         PhD Scholar|BHARAT COAKING CO...|      success|    2022-06-02|       09:22:39|C/O LT P N MAJUMD...|MANAGER FINANCE M...| DHANBAD|  JHARKHAND|India| 826001|   null|null|null|null|null|null| null|null|null|null|
| 28|k49tE75T|Vinimaya Subscrip...|         RAJU SARKAR|8250796058|rajulalgola2016@g...|   225|Vinimaya Subscrip...|Individual Subscr...|   Assistant manager|Central bank of I...|      pending|    2022-06-02|       13:13:20|FLAT NO C/2/3 VRI...|Chotonilpur itbha...| BURDWAN| WESTBENGAL|India| 713103|   null|null|null|null|null|null| null|null|null|null|
| 29|VX8ck826|Prajnan Subscription| THE LIBRARIAN  IIBF|7488152733| je.trg1@iibf.org.in|   300|Prajnan subscript...|             Library|       THE LIBRARIAN|INDIAN INSTITUTE ...|      success|    2022-06-08|       05:42:58|Kohinoor City Com...| Kirol Road, Off-...|  MUMBAI|MAHARASHTRA|INDIA| 400070|   null|null|null|null|null|null| null|null|null|null|
| 32|j67R80gc|                null|                null|      null|                null|  null|                null|                null|                null|                null|         null|          null|           null|   pune padamaj park|           address22|    Pune| Maharshtra|India| 411046|   null|null|null|null|null|null| null|null|null|null|
| 33|X70M58Yn|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   100|Vinimaya Subscrip...|Individual Subscr...|            employee|                NIBM|userCancelled|    2022-06-10|       08:29:55|   pune padamaj park|           address22|    Pune| Maharshtra|India| 411046|   null|null|null|null|null|null| null|null|null|null|
| 34|6vJ96n3c|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   225|Vinimaya Subscrip...|Individual Subscr...|            employee|                NIBM|userCancelled|    2022-06-10|       08:34:39|   pune padamaj park|           address22|    Pune| Maharshtra|India| 411046|   null|null|null|null|null|null| null|null|null|null|
| 35|9cH01aK8|Prajnan Subscription|              Uday K|7276150233|     admin@admin.com|   300|Prajnan subscript...|Individual Subscr...|            employee|           SRV Media|userCancelled|    2022-06-10|       08:57:27|   pune padamaj park|           address22|    Pune| Maharshtra|India| 411046|   null|null|null|null|null|null| null|null|null|null|
| 36|3eSiG474|Vinimaya Subscrip...|  Rajiv Kumar Bansal|9650253600|kumarbansal69@gma...|   100|Vinimaya Subscrip...|Individual Subscr...|Deputy General Ma...|  Punjab & Sind Bank|      success|    2022-06-10|       06:45:00|                null|                null|    null|       null| null|   null|   null|null|null|null|null|null| null|null|null|null|
+---+--------+--------------------+--------------------+----------+--------------------+------+--------------------+--------------------+--------------------+--------------------+-------------+--------------+---------------+--------------------+--------------------+--------+-----------+-----+-------+-------+----+----+----+----+----+-----+----+----+----+

In [21]:
df_spark_new = spark.read.option('HEADER','true').csv('test.csv')

In [24]:
df_spark_new.show()

+--------+--------------------+--------------------+----------+--------------------+------+
|   txnid|         productinfo|           firstname|     phone|               email|amount|
+--------+--------------------+--------------------+----------+--------------------+------+
|5Bm45J7x|Prajnan Subscription|          Prema Jedy|9740355404|prema.jedy@gmail.com|   300|
|g43D02jB|Vinimaya Subscrip...|      Harpreet Kohli|9872156142|harpreet_kohli200...|   550|
|Y2hH33q0|Prajnan Subscription|SUPRIYA KUMAR MAJ...|6207336743|   skm9470@gmail.com|   550|
|k49tE75T|Vinimaya Subscrip...|         RAJU SARKAR|8250796058|rajulalgola2016@g...|   225|
|VX8ck826|Prajnan Subscription| THE LIBRARIAN  IIBF|7488152733| je.trg1@iibf.org.in|   300|
|j67R80gc|                null|                null|      null|                null|  null|
|X70M58Yn|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   100|
|6vJ96n3c|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   225|
|9cH01aK8|Prajnan Subscription|              Uday K|7276150233|     admin@admin.com|   300|
|3eSiG474|Vinimaya Subscrip...|  Rajiv Kumar Bansal|9650253600|kumarbansal69@gma...|   100|
+--------+--------------------+--------------------+----------+--------------------+------+

In [25]:
df_spark_new.printSchema()

root
 |-- txnid: string (nullable = true)
 |-- productinfo: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- email: string (nullable = true)
 |-- amount: string (nullable = true)