In [1]:
import pyspark

# In this Video We will Cover
PySpark Dataframe

Reading The Dataset

Checking the Datatypes of the Column(Schema)

Selecting Columns And Indexing

Check Describe option similar to Pandas

Adding Columns

Dropping columns

Renaming Columns

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/02 12:50:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/08/02 12:50:50 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [4]:
df = spark.read.option('HEADER','true').csv('test.csv')

In [5]:
df = spark.read.option('HEADER','true').csv('test.csv',inferSchema=True)

In [6]:
df

DataFrame[productinfo: string, firstname: string, phone: bigint, email: string, amount: int]

In [7]:
df.show()

+--------------------+--------------------+----------+--------------------+------+
|         productinfo|           firstname|     phone|               email|amount|
+--------------------+--------------------+----------+--------------------+------+
|Prajnan Subscription|          Prema Jedy|9740355404|prema.jedy@gmail.com|   300|
|Vinimaya Subscrip...|      Harpreet Kohli|9872156142|harpreet_kohli200...|   550|
|Prajnan Subscription|SUPRIYA KUMAR MAJ...|6207336743|   skm9470@gmail.com|   550|
|Vinimaya Subscrip...|         RAJU SARKAR|8250796058|rajulalgola2016@g...|   225|
|Prajnan Subscription| THE LIBRARIAN  IIBF|7488152733| je.trg1@iibf.org.in|   300|
|                null|                null|      null|                null|  null|
|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   100|
|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   225|
|Prajnan Subscription|              Uday K|7276150233|     admin@admin.com|   300|
|Vinimaya Subscrip...|  Rajiv Kumar Bansal|9650253600|kumarbansal69@gma...|   100|
+--------------------+--------------------+----------+--------------------+------+

In [8]:
### Checking the Schema
df.printSchema()

root
 |-- productinfo: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- phone: long (nullable = true)
 |-- email: string (nullable = true)
 |-- amount: integer (nullable = true)

In [9]:
df_new = spark.read.csv('test.csv',header = True , inferSchema=True)

In [10]:
df_new.show()

+--------------------+--------------------+----------+--------------------+------+
|         productinfo|           firstname|     phone|               email|amount|
+--------------------+--------------------+----------+--------------------+------+
|Prajnan Subscription|          Prema Jedy|9740355404|prema.jedy@gmail.com|   300|
|Vinimaya Subscrip...|      Harpreet Kohli|9872156142|harpreet_kohli200...|   550|
|Prajnan Subscription|SUPRIYA KUMAR MAJ...|6207336743|   skm9470@gmail.com|   550|
|Vinimaya Subscrip...|         RAJU SARKAR|8250796058|rajulalgola2016@g...|   225|
|Prajnan Subscription| THE LIBRARIAN  IIBF|7488152733| je.trg1@iibf.org.in|   300|
|                null|                null|      null|                null|  null|
|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   100|
|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   225|
|Prajnan Subscription|              Uday K|7276150233|     admin@admin.com|   300|
|Vinimaya Subscrip...|  Rajiv Kumar Bansal|9650253600|kumarbansal69@gma...|   100|
+--------------------+--------------------+----------+--------------------+------+

In [11]:
df_new.printSchema()

root
 |-- productinfo: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- phone: long (nullable = true)
 |-- email: string (nullable = true)
 |-- amount: integer (nullable = true)

In [12]:
print(type(df_new))

<class 'pyspark.sql.dataframe.DataFrame'>

In [13]:
df_new.columns

['productinfo', 'firstname', 'phone', 'email', 'amount']

In [14]:
df_new.head(2)

[Row(productinfo='Prajnan Subscription', firstname='Prema Jedy', phone=9740355404, email='prema.jedy@gmail.com', amount=300),
 Row(productinfo='Vinimaya Subscription', firstname='Harpreet Kohli', phone=9872156142, email='harpreet_kohli2007@yahoo.co.in', amount=550)]

In [15]:
query = df_new.select('productinfo')

In [16]:
query.show()

+--------------------+
|         productinfo|
+--------------------+
|Prajnan Subscription|
|Vinimaya Subscrip...|
|Prajnan Subscription|
|Vinimaya Subscrip...|
|Prajnan Subscription|
|                null|
|Vinimaya Subscrip...|
|Vinimaya Subscrip...|
|Prajnan Subscription|
|Vinimaya Subscrip...|
+--------------------+

In [17]:
query = df_new.select(['phone','productinfo'])

In [18]:
query.show()

+----------+--------------------+
|     phone|         productinfo|
+----------+--------------------+
|9740355404|Prajnan Subscription|
|9872156142|Vinimaya Subscrip...|
|6207336743|Prajnan Subscription|
|8250796058|Vinimaya Subscrip...|
|7488152733|Prajnan Subscription|
|      null|                null|
|7276150233|Vinimaya Subscrip...|
|7276150233|Vinimaya Subscrip...|
|7276150233|Prajnan Subscription|
|9650253600|Vinimaya Subscrip...|
+----------+--------------------+

In [19]:
df_new.dtypes

[('productinfo', 'string'),
 ('firstname', 'string'),
 ('phone', 'bigint'),
 ('email', 'string'),
 ('amount', 'int')]

In [20]:
df_new.describe().show()

+-------+--------------------+--------------+--------------------+-----------------+------------------+
|summary|         productinfo|     firstname|               phone|            email|            amount|
+-------+--------------------+--------------+--------------------+-----------------+------------------+
|  count|                   9|             9|                   9|                9|                 9|
|   mean|                null|          null|       8.115277931E9|             null|294.44444444444446|
| stddev|                null|          null|1.3345385335478299E9|             null|164.30620127608628|
|    min|Prajnan Subscription|Harpreet Kohli|          6207336743|  admin@admin.com|               100|
|    max|Vinimaya Subscrip...|        Uday K|          9872156142|skm9470@gmail.com|               550|
+-------+--------------------+--------------+--------------------+-----------------+------------------+

In [26]:
## Adding Columns in data frame
df1=df_new.withColumn('New Amount',df_new['amount']*2)

In [29]:
df1.show()

+--------------------+--------------------+----------+--------------------+------+----------+
|         productinfo|           firstname|     phone|               email|amount|New Amount|
+--------------------+--------------------+----------+--------------------+------+----------+
|Prajnan Subscription|          Prema Jedy|9740355404|prema.jedy@gmail.com|   300|       600|
|Vinimaya Subscrip...|      Harpreet Kohli|9872156142|harpreet_kohli200...|   550|      1100|
|Prajnan Subscription|SUPRIYA KUMAR MAJ...|6207336743|   skm9470@gmail.com|   550|      1100|
|Vinimaya Subscrip...|         RAJU SARKAR|8250796058|rajulalgola2016@g...|   225|       450|
|Prajnan Subscription| THE LIBRARIAN  IIBF|7488152733| je.trg1@iibf.org.in|   300|       600|
|                null|                null|      null|                null|  null|      null|
|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   100|       200|
|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   225|       450|
|Prajnan Subscription|              Uday K|7276150233|     admin@admin.com|   300|       600|
|Vinimaya Subscrip...|  Rajiv Kumar Bansal|9650253600|kumarbansal69@gma...|   100|       200|
+--------------------+--------------------+----------+--------------------+------+----------+

In [30]:
## Drop Column 
df1=df1.drop('New Amount')
df1.show()

+--------------------+--------------------+----------+--------------------+------+
|         productinfo|           firstname|     phone|               email|amount|
+--------------------+--------------------+----------+--------------------+------+
|Prajnan Subscription|          Prema Jedy|9740355404|prema.jedy@gmail.com|   300|
|Vinimaya Subscrip...|      Harpreet Kohli|9872156142|harpreet_kohli200...|   550|
|Prajnan Subscription|SUPRIYA KUMAR MAJ...|6207336743|   skm9470@gmail.com|   550|
|Vinimaya Subscrip...|         RAJU SARKAR|8250796058|rajulalgola2016@g...|   225|
|Prajnan Subscription| THE LIBRARIAN  IIBF|7488152733| je.trg1@iibf.org.in|   300|
|                null|                null|      null|                null|  null|
|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   100|
|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   225|
|Prajnan Subscription|              Uday K|7276150233|     admin@admin.com|   300|
|Vinimaya Subscrip...|  Rajiv Kumar Bansal|9650253600|kumarbansal69@gma...|   100|
+--------------------+--------------------+----------+--------------------+------+

In [32]:
## Rename 
df1 = df1.withColumnRenamed('Amount','New Amount')

In [33]:
df1.show()

+--------------------+--------------------+----------+--------------------+----------+
|         productinfo|           firstname|     phone|               email|New Amount|
+--------------------+--------------------+----------+--------------------+----------+
|Prajnan Subscription|          Prema Jedy|9740355404|prema.jedy@gmail.com|       300|
|Vinimaya Subscrip...|      Harpreet Kohli|9872156142|harpreet_kohli200...|       550|
|Prajnan Subscription|SUPRIYA KUMAR MAJ...|6207336743|   skm9470@gmail.com|       550|
|Vinimaya Subscrip...|         RAJU SARKAR|8250796058|rajulalgola2016@g...|       225|
|Prajnan Subscription| THE LIBRARIAN  IIBF|7488152733| je.trg1@iibf.org.in|       300|
|                null|                null|      null|                null|      null|
|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|       100|
|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|       225|
|Prajnan Subscription|              Uday K|7276150233|     admin@admin.com|       300|
|Vinimaya Subscrip...|  Rajiv Kumar Bansal|9650253600|kumarbansal69@gma...|       100|
+--------------------+--------------------+----------+--------------------+----------+