# GroupBy and Aggregate Function

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/03 11:57:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/08/03 11:57:48 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df=spark.read.csv('test.csv',header=True,inferSchema=True)

In [4]:
df.show()

+--------------------+--------------------+----------+--------------------+------+
|         productinfo|           firstname|     phone|               email|amount|
+--------------------+--------------------+----------+--------------------+------+
|Prajnan Subscription|          Prema Jedy|9740355404|prema.jedy@gmail.com|   300|
|Vinimaya Subscrip...|      Harpreet Kohli|9872156142|harpreet_kohli200...|   550|
|Prajnan Subscription|SUPRIYA KUMAR MAJ...|6207336743|   skm9470@gmail.com|   550|
|Vinimaya Subscrip...|         RAJU SARKAR|8250796058|rajulalgola2016@g...|   225|
|Prajnan Subscription| THE LIBRARIAN  IIBF|7488152733| je.trg1@iibf.org.in|   300|
|                null|                null|      null|                null|  null|
|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   100|
|Vinimaya Subscrip...|              Uday K|7276150233|     admin@admin.com|   225|
|Prajnan Subscription|              Uday K|7276150233|     admin@admin.com|   300|
|Vinimaya Subscrip...|  Rajiv Kumar Bansal|9650253600|kumarbansal69@gma...|   100|
+--------------------+--------------------+----------+--------------------+------+

In [5]:
df.printSchema()

root
 |-- productinfo: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- phone: long (nullable = true)
 |-- email: string (nullable = true)
 |-- amount: integer (nullable = true)

In [6]:
# GroupBy

In [10]:
df.groupBy('firstname').sum().show()

+--------------------+-----------+-----------+
|           firstname| sum(phone)|sum(amount)|
+--------------------+-----------+-----------+
|              Uday K|21828450699|        625|
|                null|       null|       null|
|          Prema Jedy| 9740355404|        300|
|      Harpreet Kohli| 9872156142|        550|
|SUPRIYA KUMAR MAJ...| 6207336743|        550|
| THE LIBRARIAN  IIBF| 7488152733|        300|
|  Rajiv Kumar Bansal| 9650253600|        100|
|         RAJU SARKAR| 8250796058|        225|
+--------------------+-----------+-----------+

In [11]:
## GroupBy Product Info

In [12]:
df.groupBy('productinfo').sum().show()

+--------------------+-----------+-----------+
|         productinfo| sum(phone)|sum(amount)|
+--------------------+-----------+-----------+
|Vinimaya Subscrip...|42325506266|       1200|
|                null|       null|       null|
|Prajnan Subscription|30711995113|       1450|
+--------------------+-----------+-----------+

In [14]:
df.groupBy('productinfo').count().show()

+--------------------+-----+
|         productinfo|count|
+--------------------+-----+
|Vinimaya Subscrip...|    5|
|                null|    1|
|Prajnan Subscription|    4|
+--------------------+-----+

In [16]:
df.groupBy('productinfo').max().show()

+--------------------+----------+-----------+
|         productinfo|max(phone)|max(amount)|
+--------------------+----------+-----------+
|Vinimaya Subscrip...|9872156142|        550|
|                null|      null|       null|
|Prajnan Subscription|9740355404|        550|
+--------------------+----------+-----------+

In [17]:
df.groupBy('productinfo').min().show()

+--------------------+----------+-----------+
|         productinfo|min(phone)|min(amount)|
+--------------------+----------+-----------+
|Vinimaya Subscrip...|7276150233|        100|
|                null|      null|       null|
|Prajnan Subscription|6207336743|        300|
+--------------------+----------+-----------+

In [15]:
df.agg({'amount':'sum'}).show()

+-----------+
|sum(amount)|
+-----------+
|       2650|
+-----------+

In [18]:
df.agg({'amount':'avg'}).show()

+------------------+
|       avg(amount)|
+------------------+
|294.44444444444446|
+------------------+

In [19]:
df.agg({'amount':'max'}).show()

+-----------+
|max(amount)|
+-----------+
|        550|
+-----------+

In [20]:
df.agg({'amount':'mean'}).show()

+------------------+
|       avg(amount)|
+------------------+
|294.44444444444446|
+------------------+